<div class="container border p-4">
<div *ngIf="modoEdicion; else modoCreacion" class="container">
  <h2>Editar Grupo</h2>
  <form (ngSubmit)="onSubmit()" class="form-group">
    <label>
      Descripción:
      <input type="text" name="nombre" [(ngModel)]="nuevoGrupo.nombre" class="form-control">
    </label>
    <br>
    <label>
      Fecha:
      <input type="date" name="fecha" [(ngModel)]="nuevoGrupo.fecha" class="form-control">
    </label>
    <select *ngIf="categorias && categorias.length > 0" [(ngModel)]="nuevoGrupo.categoria" name="categoriaId" class="form-control">
      <option value="" disabled selected>Selecciona una categoría</option>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombre }}</option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Actualizar Grupo</button>
  </form>
</div>

<ng-template #modoCreacion>
  <!-- Formulario de creación -->
  <h2>Crear Nuevo Grupo</h2>

  <form (ngSubmit)="onSubmit()" class="form-group">
    <label>
      Descripción:
      <input type="text" name="nombre" [(ngModel)]="nuevoGrupo.nombre" class="form-control">
    </label>
    <br>
    <label>
      Fecha:
      <input type="date" name="fecha" [(ngModel)]="nuevoGrupo.fecha" class="form-control">
    </label> 
    <br>
    <label>Selecciona una categoría
    <select *ngIf="categorias && categorias.length > 0" [(ngModel)]="nuevoGrupo.categoria" name="categoriaId" class="form-select" aria-label="Default select example">
      <option selected>Selecciona una categoría</option>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombre }}</option>
    </select>
  </label>
  <br>
    <button type="submit" class="btn btn-success mt-2">Crear Grupo</button>
  </form>
</ng-template>
</div>