<div class="card border-pink mt-4" style="max-width: 400px; margin: 0 auto;">
  <div class="card-header bg-pink text-white text-center">
    Iniciar Sesion
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usuario" class="font-weight-bold">Username:</label>
        <input type="text" class="form-control" name="usuario" [(ngModel)]="credentials.usuario" id="usuario">
      </div>
      <div class="form-group">
        <label for="clave" class="font-weight-bold">Password:</label>
        <input type="password" class="form-control" name="clave" [(ngModel)]="credentials.clave" id="clave">
      </div>
      <button type="submit" class="btn btn-rosado btn-block">Login</button>
    </form>
  </div>
</div>
